/* Combined CSS for section: homepage */

@font-face {
  font-family: "MyFont";
  src: url("./fonts/Montserrat-VariableFont_wght.ttf");
}

:root {
  --primary-button-background: #ffd841;
  --primary-link-color: rgb(175, 10, 10);
  --primary-sale-color: #ee0000;
  --border-color: rgba(107, 107, 107, 0.3);
  --text-color: #677279;
  --min-order: #3053a3;
  --bg-color: #ffffff;
}

/*todo default styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MyFont", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

/*todo info section styling */

.short-info-header {
  width: 100%;
  background-color: #3053a4;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 auto;
}
.top-header-container {
  padding: 0.5rem 3rem 0.5rem 10rem;
}
.info-list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.sales-info-content {
  display: flex;
  gap: 5rem;
}
.info-list-header {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.info-icon {
  width: 1.8rem;
  height: 1.8rem;
  fill: #fff;
}
.info-content,
.info-content a {
  color: #fff;
  text-decoration: none;
}
.order-info {
  font-weight: 600;
}

/*todo primary-nav styling */

.main-logo {
  height: 5rem;
  padding: 0.5rem;
}

.primary-nav {
  width: 94.5%;
  padding: 0.5rem 0;
  margin: 0rem auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly; /* ! what to change */
}

.input-search-bar {
  width: 38rem;
  padding: 0;
}

.search-container {
  width: 40rem;
  padding: 1.1rem 0;
  border-right: 0.1rem solid #b3b3b3;
}

.inner-input-container {
  display: flex;
  padding: 0 3rem;
  align-items: center;
  border: 0.1rem solid #b3b3b3;
  border-right: none;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  overflow: hidden;
}

.inner-search-container {
  display: flex;
}

.input-search-bar,
.input-catagories-sel,
.search-btn {
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0 1.5rem;
  outline: none;
}
.input-catagories-sel {
  font-size: 1.4rem;
  width: 15.5rem;
  color: #333;
}
.search-btn svg {
  height: 2.2rem;
  width: 2.2rem;
}
.search-btn {
  background-color: #ffd841;
  border: 0.1rem solid #ffd841;
  border-left: none;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

/* cart and account section */

/* logos sizing */
.account-icon,
.main-cart-icon {
  width: 3rem;
}

.account-cart-container {
  display: flex;
}

.account-content-container,
.cart-content-container {
  width: 25rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;

  justify-content: center;
}
.account-content-container {
  border-right: 0.2rem solid var(--border-color);
}
.cart-content-container {
  width: 12rem;
  justify-content: end;
}
.account-content {
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
}

.account-my_account,
.cart-text {
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
}

.account-link,
.cart {
  text-decoration: none;
}

.account-login_sign_in {
  font-weight: 400;
  font-size: 1.3rem;
  color: #333;
}

/* secondary nav link */
/* Combined CSS for section: new */
.header {
  position: sticky;
  /* or fixed */
  top: 0;
  /* Adjust as needed */
  z-index: 100;
  /* Ensure it's above the image */
}

.navbar {
  background-color: #fff;
}

.nav-bar__item a svg {
  width: 2rem;
}

.secondary-nav-container {
  width: 94.5%;
  margin: 0 auto;
  padding: 0.5rem 0 1rem;
}

.secondary-nav {
  border-top: 0.1rem solid var(--border-color);
  border-bottom: 0.1rem solid var(--border-color);
  padding: 0.5rem 1.5rem;
}

.nav-bar__item {
  list-style: none;
  display: inline-block;
  margin-right: 5rem;
  font-size: 1.35rem;
  font-weight: 500;
  position: relative;
}

.link {
  text-decoration: none;
  color: #333;
}

.nav-bar__link .icon--nav-triangle {
  position: absolute;
  width: 2rem;
  top: 2.3rem;
  right: -0.4rem;
}

.nav-dropdown__item {
  position: relative;
}

.nav-bar__link {
  display: flex;
  gap: 2rem;
}

.nav-bar__link .icon--arrow-bottom,
.nav-bar__link .icon--arrow-up {
  width: 1.3rem;
}

.nav-dropdown,
.nav-sub-dropdown {
  color: #555;
  list-style: none;
  font-size: 1.3rem;
  font-weight: 500;
  background-color: #ffffff;
  border: 0.1rem solid var(--border-color);
  border-radius: 0.4rem;
  padding: 2rem 1rem 0rem 2rem;
  /* box-shadow: 0rem 0.3rem 0.7rem rgb(80, 80, 80); */
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: start;

  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}

.nav-dropdown {
  position: absolute;
}

.nav-drop_categories {
  width: 27rem;
  height: 50rem;
  top: 3.1rem;
  left: -3rem;
}

.nav-drop_services {
  width: 27rem;
  height: 23rem;
  top: 3.1rem;
  left: -6rem;
}

.nav-drop_blogs {
  width: 27rem;
  height: 42rem;
  top: 3.1rem;
  left: -7rem;
}

.nav-drop_information {
  width: 27rem;
  height: 25rem;
  top: 3.1rem;
  left: -3rem;
}

.hidden {
  display: none;
}

/* .nav-sub-dropdown74 {
  width: 29rem;
  height: 35rem;
  overflow-y: auto;
  position: absolute;
  top: -2.1rem;
  right: -31.3rem;
}
.nav-sub-dropdown7 {
  width: 29rem;
  height: calc();
  overflow-y: auto;
  position: absolute;
  top: -2.1rem;
  right: -31.3rem;
}
   */
.nav-sub-dropdown {
  width: 26rem;
  padding: 2rem 0rem 2rem 3rem;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  border-left: none;
}

.nav-sub-dropdown1 {
  height: 47rem;
  top: -2.1rem;
  right: -28.45rem;
}

.nav-sub-dropdown2 {
  height: 44rem;
  top: -2.1rem;
  right: -28.45rem;
}

.nav-sub-dropdown3 {
  height: 40rem;
  top: -2.1rem;
  right: -28.45rem;
}

.nav-sub-dropdown4 {
  height: 28rem;
  top: -2.1rem;
  right: -28.45rem;
}

.nav-sub-dropdown5 {
  width: 28rem;
  height: 36rem;
  top: -2.1rem;
  right: -30.45rem;
}

.nav-sub-dropdown6 {
  height: 34rem;
  top: -2.1rem;
  right: -28.45rem;
}

.nav-sub-dropdown7 {
  height: 30rem;
  top: -2.1rem;
  right: -28.45rem;
}

.nav-sub-dropdown8 {
  height: 25rem;
  top: -2.1rem;
  right: -28.45rem;
}

.nav-sub-dropdown9 {
  height: 20rem;
  top: -2.1rem;
  right: -28.45rem;
}

.nav-sub-dropdown10 {
  height: 20rem;
  top: -2.1rem;
  right: -28.45rem;
}

.nav-sub-dropdown11 {
  height: 18rem;
  top: -2.1rem;
  right: -28.45rem;
}

.nav-sub-dropdown12 {
  height: 15rem;
  top: -2.1rem;
  right: -28.45rem;
}

.nav-sub-dropdown13 {
  height: 12rem;
  top: -2.1rem;
  right: -28.45rem;
}

.nav-dropdown__link.active {
  color: #ff0000;
}

ul li a .icon--arrow-right {
  width: 0.9rem;
  height: 1.3rem;
  color: #333;
}

.nav-dropdown__link {
  width: 22.5rem;
  display: flex;
  justify-content: space-between;
}

.active path {
  stroke: #ff0000;
  stroke-width: 2;
  padding: 0;
  margin: 0;
}

.main-header {
  position: sticky;
  box-shadow: 0 0.2rem 5rem rgba(0, 0, 0, 0.1);
  position: relative;
}

.announcement-bar__message-text {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

.section-announce-bar {
  margin: 0 auto;
  clear: both;
  display: none;
  width: 100%;
}

section {
  display: block;
}

.announcement-bar {
  position: relative;
  display: block;
  font-weight: 600;
  font-size: 11px;
  border-bottom: 1px solid var(--border-color);
  background: #ffffff;
  color: #3053a4;
}

.announcement-bar__content {
  max-width: 1480px;
  margin-left: auto;
  margin-right: auto;
  padding: 3px 20px;
}

.announcement-bar__message-text {
  display: block;
  padding: 4px 0;
  margin-bottom: 0;
  text-align: center;
}

/* .header__mobile-nav {
  display: none;
  width: 2rem;
} */
.header__mobile-nav {
  display: none;
}
.icon-state__close {
  display: none;
}

/* responsive */

@media screen and (max-width: 560px) {
  .short-info-header {
    display: none;
  }
  .section-announce-bar {
    display: block;
  }

  .secondary-nav,
  .input-catagories-sel {
    display: none;
  }

  .navbar {
    position: relative;
  }

  .inner-search-container {
    position: absolute;
    top: 5rem;
  }

  .search-container {
    width: 15rem;
    padding: 0.8rem 0;
  }

  .input-search-bar {
    width: 18rem;
    padding: 0;
  }

  .account-content,
  .cart-text {
    display: none;
  }

  .account-content-container,
  .cart-content-container {
    width: 0;
    display: inline-block;
    border-right: none;
  }

  .account-cart-container {
    width: 10rem;
    display: flex;
    gap: 5rem;
    padding: 2px;
  }
  .main-logo {
    height: 4rem;
    padding: 0.5rem;
  }
  .header__mobile-nav {
    display: block;
  }
  .icon-state__menu {
    width: 2rem;
    height: 2rem;
  }
  .icon_menu {
    margin: 0 auto;
  }
  .header_mobile_nav {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 3rem;
    /* justify-content: space-evenly; */
  }
  .parent-mobile-nav {
    margin: 0 auto;
    width: 95%;
    padding: 0 2rem;
  }
  .primary-nav {
    width: 100%;
    padding: 0.5rem 0;
    gap: 6rem;
    display: flex;
    align-items: center;
  }
  .account-icon,
  .main-cart-icon {
    width: 2.7rem;
  }
}
